* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0,150,136), 10%, grey, 10%,rgb(217,219,212));
}

